<div class="row">
    <div class="visualisationContainer">
        {{architecture-visualisation-cytoscape graph=graph layoutAlgorithm=layoutAlgorithm theme=theme select=(route-action 'loadDetails')}}
    </div>
    <div class="visualisationSidebar">

        <button class="btn btn-default minimizeSidebar" {{action (route-action 'backToSystem')}}>
            <i class="glyphicon glyphicon-chevron-right"></i>
        </button>

        {{!-- this component can be used as a block, show content --}}
        {{yield}}

    </div>
</div>

