Series:
<ul class="nav nav-tabs">
    {{#each timeSeries as |series index| }}
        <li class="{{if isCurrentTab 'active'}}"><a {{action 'clickTab' index}} href="javascript:void()">{{series.label}}</a></li>
    {{/each}}
</ul>
{{#if currentSeries}}
    {{time-series-plot timeSeries=currentSeries}}
{{/if}}