<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <i class="glyphicon glyphicon-cog"></i>
<span class="caret"></span>
</button>
<ul class="dropdown-menu">

    <li class="dropdown-header">Layouts</li>
    {{#each visualisationSettings.layoutAlgorithms as | layout | }}
        <li>
            <a href="javascript:void;" {{action "selectLayoutAlgorithm" layout}}> {{!-- href for pointer cursor --}}
                {{layout}}

                {{#if (eq visualisationSettings.layoutAlgorithm layout)}}
                    <i class="glyphicon glyphicon-ok"></i>
                {{/if}}
            </a>
        </li>
    {{/each}}
    <li role="separator" class="divider"></li>
    <li class="dropdown-header">Themes</li>
    {{#each visualisationSettings.themes as | theme | }}
        <li>
            <a href="javascript:void;"  {{action "selectTheme" theme}}>
                {{theme}}

                {{#if (eq visualisationSettings.theme theme)}}
                    <i class="glyphicon glyphicon-ok"></i>
                {{/if}}
            </a>
        </li>
    {{/each}}
</ul>
