
@import "components/_architecture";
@import "components/_cytoscape";

$navbar-default-bg: #312312;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

@import "custom_bootstrap";

.globalActions > li {
    margin: 15px 3px; // 15 from $nav-link-padding
}

.alert {
    transition: opacity 1s;

    &.exiting { // flashMessages addon
        opacity: 0;
    }
}

.loadingIndicator {
    opacity: 1;
    transition: all 100ms ease-in; // .invisible will get toggled FIXME
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #EEE;
    padding: 10px;
    border-radius: 10px;
    z-index: 1000;
    pointer-events: none; // should not block clicking

    &.fadeOut {
        opacity: 0;
        top: -40px;
    }
}


.rotationAnimation {
    transition: transform 1s;
    animation: rotate 2s infinite linear;
}


@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}