$resizingAnimationDuration: .5s; // see deployments/detail route for property

.visualisationContainer {
    @extend .col-md-10;
    transition: width $resizingAnimationDuration;

    canvas {
        max-width: 100%;
    }
}

.visualisationSidebar {
    @extend .col-md-2;
    transition: width $resizingAnimationDuration;
}

.minimizeSidebar {
    visibility: hidden;
}
.extendedSidebar { // TODO: not set by route?
    .visualisationContainer {
        @extend .col-md-8
    }
    .visualisationSidebar {
        @extend .col-md-4
    }
    .minimizeSidebar {
        visibility: visible;
    }
}

.renderingSettings {
    margin-top: 20px;
}
