{{partial 'partials/navbar'}}

<div class="container-fluid">
    <div class="container">
        <div class="alert alert-danger">
            There seems to be a problem loading information from the server.
        </div>

        {{#link-to 'home' class="btn btn-default" activeClass=""}}
        <i class="glyphicon glyphicon-chevron-left"></i> back home{{/link-to}}
    </div>

    {{outlet body}}
</div>
