<h2 id="title">Welcome to Ember</h2>
<ul>
    <li>Go to {{#link-to 'home'}}Home{{/link-to}}</li>
    <li>Go to {{#link-to 'architecture'}}Klay-based Architecture{{/link-to}}</li>
    <li>Go to {{#link-to 'cola'}}Webcola Architecture{{/link-to}}</li>
    <li>Go to {{#link-to 'cytoscape'}}Cytoscape Architecture{{/link-to}}</li>
</ul>

{{outlet}}
