<div class="loadingIndicator {{if loadingState.isNotLoading 'fadeOut'}}">
    <i class="glyphicon glyphicon-refresh rotationAnimation"></i>
    Loading...
</div>

{{partial 'partials/navbar'}}

<div class="container-fluid">
    {{#each flashMessages.queue as |flash|}}
      {{flash-message flash=flash}}
    {{/each}}

    {{outlet body}}
</div>
