{{loading-slider isLoading=loading duration=250}}
<h2 id="title">Welcome to Ember</h2>
<ul>
    <li>Go to {{#link-to 'home'}}Home{{/link-to}}</li>
    <li>Go to {{#link-to 'architectures'}}Architekturen{{/link-to}}</li>
</ul>

{{outlet}}
